.cart {
  min-height: 10vh;
  max-height: 35vh;
  overflow-y: auto;
  overflow-x: hidden;
  border: 0.5rem solid var(--background-2);
  border-radius: 4px;

  @media (min-width: 1024px) {
    height: 60vh;
    position: sticky;
    top: 1.5rem;
  }

  h2 {
    padding-left: 1rem;
    padding-top: 1rem;
  }
}

.orderSummary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  bottom: 0;
  background-color: var(--background);
  border-top: 0.2rem solid var(--background-2);
  padding: 1rem;
  margin-inline: -1rem;
}
