.cart {
  height: 35vh;
  overflow-y: auto;
  border: 0.5rem solid var(--background-2);

  @media (min-width: 1024px) {
    height: 60vh;
    position: sticky;
    top: 20px;
  }
}

/* Hvis tid, kanskje fint om summen også er sticky på bunnen */
