.cart {
  min-height: 10vh;
  max-height: 35vh;
  overflow-y: auto;
  overflow-x: hidden;
  border: 0.3rem solid var(--primary-4);
  border-radius: 4px;

  @media (min-width: 1024px) {
    min-height: 40vh;
    max-height: 90vh;
    height: fit-content;
    position: sticky;
    top: 1.5rem;
  }

  h2 {
    padding-left: 2rem;
    padding-top: 1rem;

    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
}

.orderSummary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  bottom: 0;
  background-color: var(--background);
  border-top: 0.2rem solid var(--gray-2);
  padding: 1rem;
  margin-inline: -1rem;

  a {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    max-width: 10rem;

    background-color: var(--primary);
    color: white;
    border: solid 0.1rem var(--primary-4);
    border-radius: 5px;

    &:hover {
      background-color: var(--primary-4);
      cursor: pointer;
    }
  }
}
