section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bookTitle {
  font-size: 1.5rem;
}

.totalCost {
  font-size: 2rem;
}

.orderInformation {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  a {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    max-width: 10rem;

    background-color: var(--primary);
    color: white;
    border: solid 0.1rem var(--primary-4);
    border-radius: 5px;

    &:hover {
      background-color: var(--primary-4);
      cursor: pointer;
    }
  }
}
