.button {
  padding: 0.5rem 1rem;
  /* border-radius: 0.8rem; */
  /* borderradius blir påvirket av bookcard sin?? */
  font-size: 0.8rem;
  max-width: 10rem;
}

.primary {
  background-color: var(--primary);
  color: white;
  border: solid 0.1rem var(--primary-4);

  &:hover {
    background-color: var(--primary-4);
    cursor: pointer;
  }
}

.secondary {
  background-color: var(--secondary);
  color: white;
  border: solid 0.1rem var(--secondary-4);

  &:hover {
    background-color: var(--secondary-4);
    cursor: pointer;
  }
}

.disabled {
  background-color: var(--disabled);
  border: solid 0.1rem var(--background-2);
  color: var(--background);
  cursor: not-allowed;
}
