.bookSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 1rem;

  img {
    align-self: center;
  }
}

.link {
  color: var(--gray-3);
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
}

.title {
  padding-inline: 2rem;
}

.bookGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 1rem 0;
  justify-items: center;

  @media (min-width: 768px) {
    gap: 1rem 0.8rem;
  }
}
