.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0.2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;

  @media (min-width: 786px) {
    font-size: 1.5rem;
    justify-content: space-between;
    margin-inline: auto;
    padding-inline: 2rem;
    max-width: 100rem;
    width: 100%;
    flex-wrap: nowrap;
  }

  .logo {
    color: var(--primary);
    background-color: var(--primary-1);
    padding: 0.5rem 1rem;
  }

  .navLinks {
    display: flex;
    gap: 1rem;
  }

  a:hover {
    text-decoration: underline;
  }
}
