.cartItem {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid var(--gray-2);
}

.textContent {
  margin: 1rem;
}

.bookTitle {
  font-weight: bold;
  font-size: 1rem;
}

.quantityButtons {
  display: flex;
  gap: 0.5rem;

  button {
    color: var(--gray-4);
    background-color: var(--gray-1);
    padding: 0.3rem 0.5rem;
    border: 0.15rem solid var(--gray-2);
    border-radius: 5px;
  }

  button:hover {
    cursor: pointer;
    color: white;
    background-color: var(--gray-3);
  }
}
