.bookCard {
  display: grid;
  background-color: var(--background-2);
  border-radius: 6px;
  padding: 1rem;
  max-width: 14rem;

  img {
    justify-self: center;
  }
}

.cardText {
  display: grid;
  gap: 1rem;
  margin-block: 1rem;
  width: 100%;
}

.authorTag {
  font-size: 1.2rem;
  font-weight: bold;
  color: #eeeeee;
}

.priceTag {
  color: var(--primary-1);
  font-size: 1.5rem;
  font-weight: bold;
}

.details {
  display: flex;
  flex-direction: column;
}
