.bookCard {
  display: grid;
  background-color: var(--background-1);
  border-radius: 6px;
  padding: 1rem;
  width: 12rem;

  @media (min-width: 768px) {
    width: 14rem;
  }

  &:hover {
    background-color: var(--background-2);
  }
  img {
    width: 100%;
    justify-self: center;
  }
}

.cardText {
  display: grid;
  gap: 1rem;
  margin-block: 1rem;
  width: 100%;
}

.authorTag {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--gray-3);
}

.priceTag {
  color: var(--primary);
  font-size: 1.6rem;
  font-weight: bold;
}

.details {
  display: flex;
  flex-direction: column;
}

.ctaButton {
  align-self: end;
}
