:root {
  --font-mono: 'Roboto Mono', monospace;

  --primary: #480c31;
  --secondary: #694f11;
  --background: #0c0c0c;
  --disabled: #cbcaca;
  --error: #cd353b;

  --primary-1: #916981;
  --primary-2: #6c3a59;
  --primary-3: #3a0a27;
  --primary-4: #1e0514;

  --secondary-1: #ad9d6d;
  --secondary-2: #8b763f;
  --secondary-3: #543f0e;
  --secondary-4: #3f2f0a;

  --background-1: #4f4e4e;
  --background-2: #2d2c2c;
  --background-3: #090808;
  --background-4: #070606;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 32px;

  background: var(--background);
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: system-ui;
  font-size: 18px;
  line-height: 32px;

  margin: 0;
  color: rgb(1000, 1000, 1000);

  @media (max-width: 1024px) {
    font-size: 15px;
    line-height: 24px;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 2rem;
  width: 100%;
  max-width: 90rem;
  margin-inline: auto;

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 20rem;
  }

  > section {
    grid-column: 1;
    grid-row: 2;

    @media (min-width: 1024px) {
      grid-row: 1;
    }
  }

  > aside {
    grid-column: 1;
    grid-row: 1;

    @media (min-width: 1024px) {
      grid-column: 2;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  margin: 40px 0;
  font-size: 3rem;
  line-height: 1.1;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  line-height: 1.1;
}

h3 {
  font-size: 1.8rem;
  line-height: 1.1;
}

p {
  margin: 24px 0;

  @media (max-width: 1024px) {
    margin: calc(var(--base) * 0.75) 0;
  }
}

a {
  text-decoration: none;
  color: currentColor;

  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.7;
    outline: none;
  }
}

svg {
  vertical-align: middle;
}
